body{
	background: #031019;
}
.stars ul li{
  position: absolute;
  width: 3px;
  height: 3px;
  background: #fff;
  border-radius: 360px;
  }
  .stars{
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}
.stars ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.container{
	width: 550px;
	height:550px;
	margin: -275px auto 0 -275px;
	position:absolute;
	overflow:hidden;
	top: 50%;
	left: 50%;
}

.sun{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:url(images/sun.png) no-repeat center center;
}

.mercury{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:url(images/mercury.png) no-repeat 190px center;
	/* Chrome still requires the -webkit- prefix */
	-webkit-animation:orbit 3s linear infinite;
	animation:orbit 3s linear infinite;
	transition:background-position 0.8s;
}

.venus{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:url(images/venus.png) no-repeat 150px center;
	/* Chrome still requires the -webkit- prefix */
	-webkit-animation:orbit 7s linear infinite;
	animation:orbit 7s linear infinite;
	transition:background-position 0.8s;
}
.earth{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:url(images/earth.png) no-repeat 95px center;
	/* Chrome still requires the -webkit- prefix */
	-webkit-animation:orbit 12s linear infinite;
	animation:orbit 12s linear infinite;
	transition:background-position 0.8s;
}
.moon{
	position:absolute;
	top:225px;
	left:60px;
	width:100px;
	height:100px;
	background:url(images/moon.png) no-repeat 15px center;
	/* Chrome still requires the -webkit- prefix */
	-webkit-animation:orbit 2s linear infinite;
	animation:orbit 2s linear infinite;
	transition:background-position 0.8s;
}
.mars{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:url(images/mars.png) no-repeat 47px center;
	/* Chrome still requires the -webkit- prefix */
	-webkit-animation:orbit 26s linear infinite;
	animation:orbit 26s linear infinite;
	transition:background-position 0.8s;
}
.asteroids{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:url(images/asteroids.png) no-repeat 0px center;
	/* Chrome still requires the -webkit- prefix */
	-webkit-animation:orbit 50s linear infinite;
	animation:orbit 50s linear infinite;
	transition:background-position 0.8s;
}

/*.container:hover .rocket{
	background-position:80px center;
}*/

/* Define the keyframes of the animation */

@-webkit-keyframes orbit {
	from {
		-webkit-transform:rotate(0deg);}
	to {
		-webkit-transform:rotate(360deg);
	}
}

@keyframes orbit {
	from {
		transform:rotate(0deg);

		/* I am including the -webkit-transform properties, because
		   Chrome might start supporting keyframe without prefix in the future,
		   but we can't be certain whether it will support prefix-free transform
		   at the same time */

		-webkit-transform:rotate(0deg);}
	to {
		transform:rotate(360deg);
		-webkit-transform:rotate(360deg);
	}
}